@import "https://fonts.googleapis.com/css?family=Roboto&display=swap";

*{
    margin:0;
    padding: 0;
    border: 0;
}

a{
    color: #000;
    text-decoration: initial;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    position: relative;
}


header {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.logo {
    margin-left: 300px;
    margin-top: 35px;
    
}

.nav{
    padding: 38px;
    position: relative;
    
}

.nav a{
    
    padding: 0px 30px;
    text-decoration: initial;
    font-size: 16px;
    

}
main{
    align-items: center;
    padding: 0 300px;
}

.caixa{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: auto;
    height: 366px;
    background-color: #FBDFDB;
    border-radius: 30px;
    position: relative;

}

.imag{
    position: absolute;
    right: 100px;
    bottom: -3px;
}

.caixa .slogan h2{
    margin: 140px auto 10px 60px ;
    color: #111111;
    font-size: 32px;
}
.slogan p{
    margin: 0 60px;
    font-size: 18px;
    opacity: 0.7;
}

.mostView h1{
    margin: 50px 0px;
    font-size: 24px;
}

footer{
    margin: 0 auto;
    text-align: center;    
    background-color: #EEEEEE;
    padding: 23px;
}

footer div p{
    opacity: 0.7;
    font-size: 14px;
    
}