@import "https://fonts.googleapis.com/css?family=Roboto&display=swap";

*{
    margin:0;
    padding: 0;
    border: 0;
}

a{
    color: #000;
    text-decoration: initial;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
}


header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 0 15% 30px 15%;
}

.logo {
    margin-top: 35px;
    height: 30px;
    width: 100px;
}

.nav{
    margin-top: 35px;
}

.nav a{
    
    padding: 0px 30px;
    text-decoration: initial;
    font-size: 16px;
}

/* INICIAL */

main{
    /* display: grid;
    grid-template-columns: 1fr 3fr 1fr; */
    margin: 0 15% 100px 15%;
    min-width: auto;
}

.caixa{
    /* grid-column: 2/3; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: auto;
    height: 366px;
    background-color: #FBDFDB;
    border-radius: 30px;
    position: relative;
    
}

.imag{
    position: absolute;
    right: 100px;
    bottom: -3px;
}

.caixa .slogan h2{
    margin: 90px auto 10px 60px ;
    color: #111111;
    font-size: 32px;
}
.slogan p{
    margin: 0 60px;
    font-size: 18px;
    opacity: 0.7;
    min-width: 160px;
}

/* .mostView{
    grid-column: 2/3;
} */

.mostView h1{
    margin: 50px 0px;
    font-size: 24px;
}

footer{
    text-align: center;    
    background-color: #EEEEEE;
    padding: 23px 0px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    
}

footer div p{
    opacity: 0.7;
    font-size: 14px;
    
}
/* SOBRE */

.sobre h1{
    font-size: 24;
    padding: 20px 0px;
}

.sobre p{
    width: 100%;
    padding: 20px 0px;
    line-height: 28px;
}

/* RECIPES */

.resList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    column-gap: 20px;
    min-width: 900px;
}

.res{
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: tomato;
    border-radius: 20px;
    min-width: auto;
    min-height: 300px;
}