{% extends "layout.njk" %}

    {% block head %}
        <title>Foodfy - Recipes (On Work)</title>
    {% endblock head %}

    {% block navegador %}
        <a href="/about">Sobre</a>
        <a href="/recipes" style="font-weight: 600;">Receitas</a>
    {% endblock navegador %}

    {% block conteudo %}
        <main>
        <div class="resList">
        <div class="res">
        </div>
        <div class="res">
        </div>
        <div class="res">
        </div>
        <div class="res">
        </div>
        <div class="res">
        </div>
        <div class="res">
        </div>
        <div class="res">
        </div>
        <div class="res">
        </div>
        <div class="res">
        </div>
        <div class="res">
        </div>
        <div class="res">
        </div>
        <div class="res">
        </div>
        </div>
        <div>
        <!-- Modal -->
        </div>
        </main>
    {% endblock conteudo %}